.Category {
  width: 100%;
}
.Header {
  text-align: center;
  margin: 20px;
  padding: 20px;
  background: #0074D9;
  color: white;
  border-radius: 4px;
  box-shadow: 0 4px 10px 0px #ECECEC;
  text-transform: uppercase;
}
